@{ 
    Layout = null;
}
@model IEnumerable<efef.Models.SysUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p> @Html.ActionLink("Create new", "Create")</p>
      <table>
          <tr>
              <th>
                  @Html.DisplayNameFor(model=>model.UserName)
              </th>
              <th>
                  @Html.DisplayNameFor(model => model.Email)
              </th>
          </tr>
          @foreach (var item in Model)
          {
              <tr>
                  <td>
                      @Html.DisplayFor(modelitem=>item.UserName)
                  </td>
                  <td>
                      @Html.DisplayFor(modelitem => item.Email)
                  </td>
                  <td>
                      @Html.ActionLink("Details", "Details",new { id=item.ID})
                      @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                      @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                  </td>
              </tr>
          }
      </table>
    </div>
</body>
</html>
